<footer class="footer fixed-bottom font-small">
  <nav>
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3 contact-info">
          <h5>Contact</h5>
            <p><span>LEVEL 7</span></p>
            <p><span>116 W Michigan Street</span></p>
            <p><span>Mount Pleasant, MI 48858</span></p>
            <p><span>(989)772-7793</span></p>
        </div>
        <div class="col-md-4 mb-md-0 mb-3 hours-of-operation">
          <h5>Hours of Operation</h5>
          <p><span>MONDAY 10am-8pm</span></p>
          <p><span>TUESDAY 10am-8pm</span></p>
          <p><span>WEDNESDAY 10am-8pm</span></p>
          <p><span>THURSDAY 10am-8pm</span></p>
          <p><span>FRIDAY 10am-6pm</span></p>
          <p><span>SATURDAY 10am-4pm</span></p>
        </div>
      </div>
    </div>
  </nav>
</footer>
